In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("D:\Downloads\data1\mental_health.csv") #mental health corpus
df2 = pd.read_csv("D:\Downloads\data2\\reddit_depression_suicidewatch.csv") #kaggle dataset reddit datast
df3 = pd.read_csv("D:\Downloads\data3\Suicide_Detection.csv") #Kaggle dataset on suicide detection
df4 = pd.read_csv("D:\Downloads\data4\depression_dataset_reddit_cleaned.csv") #kaggle datast by infamous coder
df5_train = pd.read_csv("D:\Downloads/train.csv") #github dataste on depression - training set
df5_test = pd.read_csv("D:\Downloads/test.csv") #github dataset on depression - testing set

In [3]:
df_s = [df1, df2, df3, df4, df5_train,df5_test]
for count,df in enumerate(df_s):
    col_names = df.columns.to_list()   
    print(f'Columns in df{count+1}: {col_names}')

Columns in df1: ['text', 'label']
Columns in df2: ['text', 'label']
Columns in df3: ['Unnamed: 0', 'text', 'class']
Columns in df4: ['clean_text', 'is_depression']
Columns in df5: ['pid', 'text', 'labels']
Columns in df6: ['pid', 'text', 'labels']

In [4]:
#Rename the columns based on the output above 
df3.rename({'class':'label'},axis = 1, inplace = True)
df4.rename({'clean_text':'text','is_depression':'label'},axis = 1, inplace= True)
df5_train.rename({'labels':'label'},axis = 1,inplace = True)
df5_test.rename({'labels':'label'},axis = 1,inplace = True)

In [5]:
#Need to check df3 for what Unnamed: 0 is, and df5_train/test to see if we can just drop pid (my guess is yes)
df3.sample(10)

,Unnamed: 0,text,label
160106,240202,Pee per in my wee wee uh Slickly wit the dicky...,non-suicide
219311,328906,"I hate the way my voice sounds Like, I can und...",non-suicide
53225,79783,Drop your skin care routine right now I'm fina...,non-suicide
147163,220841,rice purity test what’s your rice purity test ...,non-suicide
34118,51193,Episode comes againThere is this kind of episo...,suicide
144503,216919,About a girl So I like this girl but I can’t t...,non-suicide
48136,72087,Need To Vent.I'm tired of investing time into ...,suicide
183944,276070,You can't self-diagnose depression So please e...,non-suicide
203825,305828,defsghjgfdfghgfsghjgfdyhtgrfewiouytrewrtyuiogh...,non-suicide
201136,301834,Biological sex isn't bk Biological sex isn't b...,non-suicide

In [6]:
df5_train.head(10)

              pid                                               text  label
0  train_pid_7991  At this point just genuinely curious what sort...      0
1  train_pid_7992  I have literally tried everything.... : I'm st...      0
2  train_pid_7995  I'm really struggling : So I don't know how to...      0
3  train_pid_7996  My meds aren’t making my depression any better...      0
4  train_pid_7997  Hi I'm unwell : I'm 21 now, "vice ridden", and...      0
5  train_pid_7998  I'm not alone, and I feel it : Im going into 2...      0
6  train_pid_7999  Help. : I'm 24 and I'm useless, I have studies...      0
7  train_pid_8000  I feel like shit : I feel like shit. I've crie...      0
8  train_pid_8004  If I only had access to firearms. : I mean bei...      0
9  train_pid_8010  I think I want to kill myself. : I've been liv...      0

In [7]:
df5_test.head(10)

           pid                                               text  label
0   test_pid_1  Im scared : This is it. I lie to myself every ...      1
1   test_pid_2  New to this but just wanted to vent : I just f...      1
2   test_pid_3  I’m sad : It’s kinda always been an issue. I w...      1
3   test_pid_4  Lonely but not alone. : All of my immediately ...      1
4   test_pid_5  This year has been trash. : I dont know why I’...      1
5   test_pid_6  Needed to yell into the void : I'm a pos. I'm ...      1
6   test_pid_7  I don’t know why I’m here anymore : I feel lik...      1
7   test_pid_8  i dont want to be here anymore : i dont wanna ...      1
8   test_pid_9  Antidepressants : Do antidepressants help if y...      1
9  test_pid_10  TMS : My doctor wants me to do TMS for my depr...      1

In [11]:
df3.drop('Unnamed: 0',axis = 1, inplace = True)
df5_test.drop('pid',axis =1, inplace = True)
df5_train.drop('pid',axis =1 , inplace = True)

In [12]:
df_s = [df1, df2, df3, df4, df5_train,df5_test]
for count,df in enumerate(df_s):
    col_names = df.columns.to_list()   
    print(f'Columns in df{count+1}: {col_names}')

Columns in df1: ['text', 'label']
Columns in df2: ['text', 'label']
Columns in df3: ['text', 'label']
Columns in df4: ['text', 'label']
Columns in df5: ['text', 'label']
Columns in df6: ['text', 'label']

In [20]:
df = pd.concat([df1,df2,df3,df4,df5_train,df5_test]).reset_index().drop('index',axis = 1)

In [22]:
df.to_csv('joined_dataset.csv')